google_credentials.json
zscaler.pem.cer
secrets.toml
.env
.vs/
env/
__pycache__/
*.pyc
*.xlsx
My_Workout_Tracker_local.py
My_Workout_Tracker_local - Copy.py
*.pyproj.user
google_credentials1.json
My_Workout_Tracker_test.py
